@inherits LayoutComponentBase

<PageTitle>Amplicación 2</PageTitle>


<NavMenu />

<div class="container body-content">
    @Body

    <hr />
    
    <footer>
        <p>&copy; 2023 - SampleBlazorApp</p>
    </footer>
</div>

